<p>
  products works!
</p>

<div class="panel panel-primary">

  <div class="panel-heading">Products</div>
  <div class="panel-body">
    <table class="table table-hover">
       <thead>
         <tr> 
           <th>product</th> 
           <th>Description</th> 
           <th>Price</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products ">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
          </tr>
        </tbody> 
    </table>
  </div>

</div>