input.ng-invalid.ng-touched{
    border-left: 3px solid red;
    border-right: 3px solid red;
}
input.ng-valid{
    border-left: 3px solid green;
    border-right: 3px solid green;
}

form{
    width: 50%;
    border: 3px solid blanchedalmond;
    border-radius: 5px;
}
.content-form{
    margin: 20px;
}

.pointer{
    float: right;
}

a:hover{
    cursor: pointer;
}